<mat-card class="mat-elevation-z3 txt-center light">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="contact-card py-1">
        <a href="mailto:roch.fiona@gmail.com">
          <span class="material-icons">
            email
          </span>
        </a>
        <div class="py-1"> Send me an email </div>
        <div><a href="mailto:roch.fiona@gmail.com"> roch.fiona@gmail.com </a></div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="py-1 contact-card">
        <a href="tel:+8201040669612">
          <span class="material-icons">
            call
          </span>
        </a>
        <div class="py-1"> Give me a call </div>
        <div><a href="tel:+8201040669612"> +82 010 4066 9612 </a></div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="py-1 contact-card">
        <a href="https://www.linkedin.com/in/fiona-roch/">
          <img class="contact-img" src="/assets/img/logos/linkedin.png" />
        </a>
        <div class="py-1"> Contact me via LinkedIn </div>
        <div> <a href="https://www.linkedin.com/in/fiona-roch/">linkedin.com/in/fiona-roch</a> </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="contact-card py-1">
        <a href="https://github.com/Hisaeri/">
          <img class="contact-img" src="/assets/img/logos/github.png" />
        </a>
        <div class="py-1"> Check out my work on Github </div>
        <div> <a href="https://github.com/Hisaeri/">Hisaeri</a> </div>
      </div>
    </div>
  </div>

</mat-card>