.contact-img {
  max-width: 40px;
}

.contact-title {
  margin-bottom: 75px;
  background: #545454;
}

.contact-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-row {
  background: white;
  border-radius: 4px;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material-icons {
  font-size: 40px;
  color: #666;
}