<div class="row">
  <div class="col-xs-12 col-md-9">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non placerat libero. Suspendisse urna eros, molestie nec condimentum sit amet, venenatis id nibh. Phasellus
      pulvinar, odio vel consequat tempus, elit ligula viverra metus, eget porta libero velit at ligula. Cras ac ullamcorper elit. Proin vehicula, ligula at posuere sollicitudin.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non placerat libero. Suspendisse urna eros, molestie nec condimentum sit amet, venenatis id nibh. Phasellus
      pulvinar, odio vel consequat tempus, elit ligula viverra metus, eget porta libero velit at ligula. Cras ac ullamcorper elit. Proin vehicula, ligula at posuere sollicitudin.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non placerat libero. Suspendisse urna eros, molestie nec condimentum sit amet, venenatis id nibh.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non placerat libero. Suspendisse urna eros, molestie nec condimentum sit amet, venenatis id nibh.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non placerat libero. Suspendisse urna eros, molestie nec condimentum sit amet, venenatis id nibh.
    </p>
  </div>
  <div class="col-xs-12 col-md-3">
    <img class="w-100 mat-elevation-z8 about-img" src="/assets/img/self/fiona.jpg" />
  </div>
</div>