<div class="row justify-center">
  <div class="col-xs-6 col-md-3 last-md pb-2">
    <img class="w-100 mat-elevation-z3 about-img" src="/assets/img/self/fiona.jpg" />
  </div>
  <div class="col-xs-12 col-md-9 about-txt">
    <p> I'm Fiona, a 24 year old french full stack developer, currently residing in Daegu, South Korea. I enjoy building web and mobile applications, and working with international teams. </p>
    <p>I graduated from EPITECH (European Institute of Technology) with a master degree and I have several years of experience working on various types of projects, such as web, mobile or software applications. </p>
    <p>
      I'm currently open for new opportunities starting March 2021.
    </p>
    <div class="txt-center pt-1">
      <a target="=_blank" href="/assets/pdf/Roch_Fiona_resume_2021.pdf">
        <button mat-button color="accent" class="txt-light btn-resume" (click)="clickOnResume()">
          <span class="material-icons">
            attach_file
          </span>
          Check out my resume
        </button>
      </a>
    </div>
  </div>
</div>