@import "./colors.scss";
@import "./theme.scss";
@import "./container.scss";
@import "./text.scss";
@import "./loader.scss";
@import "./padding.scss";
@import "./buttons.scss";
@import "~swiper/swiper-bundle";

*:focus {
  outline: none;
}

.w-100 {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  width: 50px;
  height: 50px;
  background: #4a4a4a36;
  border-radius: 50px;
  top: 40%;
  transition: ease background 0.3s;

  &:hover {
    background: #4a4a4a4a;
  }
}

.swiper-pagination-bullet-active {
  background-color: $accent;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
}
@media screen and (max-width: 680px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 15%;
  }
}