<mat-card class="p-1 txt-center">
  <!-- Front end -->
  <div class="row">
    <div *ngFor="let skill of frontSkills" class="col-xs-4 col-sm">
      <div class="bg" [ngStyle]="{'background-image': 'url(' + skill.path + ')'}">
        <span class="light">{{skill.title}}</span>
      </div>
    </div>
  </div>

  <!-- Back end / Devops -->
  <div class="row">
    <div *ngFor="let skill of backSkills" class="col-xs-4 col-sm">
      <div class="bg" [ngStyle]="{'background-image': 'url(' + skill.path + ')'}">
        <span class="light">{{skill.title}}</span>
      </div>
    </div>
  </div>
</mat-card>