<app-hero></app-hero>
<div class="container home-container">

  <div class="home-content py-3">
    <!-- About me -->
    <div class="py-3 center-xs">
      <h2 class="pb-1">About me</h2>
      <app-about></app-about>  
    </div>

    <!-- Skills -->
    <div class="py-3">
      <h2 class="pb-1">My core skills</h2>
      <app-skills></app-skills>
    </div>

    <!-- Projects -->
    <div class="py-3">
      <h2 class="pb-1">Latest projects</h2>
      <app-projects></app-projects>
    </div>


    <!-- Contact -->
    <div class="py-3">
      <h2 class="pb-1 center-xs">Contact me</h2>
      <app-contact></app-contact>
    </div>

  </div>
</div>