<app-hero></app-hero>
<div class="container py-2 home-container">

  <div class="home-content">
    <!-- About me -->
    <h2>About me</h2>
    <app-about></app-about>

    <!-- Skills -->
    <div class="py-2">
      <h2>My core skills</h2>
      <app-skills></app-skills>
    </div>

    <!-- Projects -->
    <div class="py-2">
      <h2>Latest projects</h2>
      <app-projects></app-projects>
    </div>


    <!-- Contact -->
    <div class="py-2">
      <h2>Contact me</h2>
      <app-contact></app-contact>
    </div>

  </div>
</div>

<div>
  Copyrights
</div>