<swiper [autoplay]="true" [pagination]="true" [navigation]="true" [loop]="true" [slidesPerView]="1" [spaceBetween]="50">
  <ng-template swiperSlide>
    <img class="w-100" src="/assets/img/projects/seeart.png" />
    <div>
      Slide txt
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img class="w-100" src="/assets/img/projects/beatme1.jpg" />
    <div>
      Slide txt
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img class="w-100" src="/assets/img/projects/laig.png" />
    <div>
      Slide txt
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img class="w-100" src="/assets/img/projects/starquiz.jpg" />
    <div>
      Slide txt
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img class="w-100" src="/assets/img/projects/mhcomm.jpg" />
    <div>
      Slide txt
    </div>
  </ng-template>
</swiper>