<swiper [autoplay]="true" [pagination]="true" [navigation]="true" [loop]="true" [slidesPerView]="1" [spaceBetween]="50">
  <ng-template swiperSlide>
    <img class="w-100" src="/assets/img/projects/seeart.png" />
    <div>
      Slide txt
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img class="w-100" src="/assets/img/projects/laig.png" />
    <div class="pt-1 pb-2">
      <h3>
        <a target="_blank" href="https://www.laiguilleur.com/">L'aiguilleur</a> - Angular2+, Bootstrap, Go
      </h3>
      <p>
        L'aiguilleur is a web application and progressive web application for desktop and mobile. It allows tattoo artists to display their designs online and clients to browse and make appointments for the desired model at the
        shop.
      </p>
      <p>
        It is composed of an unsigned mode for browsing, a signed mode for users to check their appointments and put options on designs, and another signed mode for tattoists to manage their agenda, appointments and available flashs. We also
        developed a back-office to allow admins to control and manage every details of the website.
      </p>
      <p>
        Angular8 and Bootstrap/SCSS were used for the main interface, with npm. The backend is made in Go.
      </p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img class="w-100" src="/assets/img/projects/beatme1.jpg" />
    <div class="pt-1 pb-2">
      <p>
        BeatMe - AngularJS, Bulma
      </p>
      <p>
        It allows players of different games and platforms to find gaming opponents by a matchmaking system combines with a fairplay system. If the player losing a game wants to, he can reward the winner with a small amount of money and make his
        fairplay go up.

        I worked on the web application, using AngularJS along with npm and Bulma.
      </p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img class="w-100" src="/assets/img/projects/starquiz.jpg" />
    <div>
      Slide txt
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img class="w-100" src="/assets/img/projects/mhcomm.jpg" />
    <div>
      Slide txt
    </div>
  </ng-template>
</swiper>