<swiper [autoplay]="true" [pagination]="true" [navigation]="true" [loop]="true" [slidesPerView]="1" [spaceBetween]="50">
  <ng-template swiperSlide>
    <img alt="seeart website" class="w-100" src="/assets/img/projects/seeart.jpg" />
    <div class="pt-1 pb-2 txt-center">
      <h3> <a target="_blank" rel="noopener" href="https://preprod.see-art.com/">Seeart</a> </h3>
      <h4>Angular2+, NodeJS/ExpressJS, AWS</h4>
      <p>Full stack development of an e-commerce web application to sell artsy products internationally.</p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img alt="l'aiguilleur website" class="w-100" src="/assets/img/projects/laig.jpg" />
    <div class="pt-1 pb-2 txt-center">
      <h3> <a target="_blank" rel="noopener" href="https://www.laiguilleur.com/">L'aiguilleur</a> </h3>
      <h4>Angular2+, Bootstrap </h4>
      <p>Front end development of an e-commerce web application for tattoo artists.</p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img alt="beatme website" class="w-100" src="/assets/img/projects/beatme1.jpg" />
    <div class="pt-1 pb-2 txt-center">
      <h3> <a target="_blank" rel="noopener" href="https://www.beatme.io/">Beatme</a></h3>
      <h4>AngularJS, Bulma </h4>
      <p>Front end development of a matchmaking web app for gamers.</p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img alt="starquiz website" class="w-100" src="/assets/img/projects/starquiz.jpg" />
    <div class="pt-1 pb-2 txt-center">
      <h3> <a target="_blank" rel="noopener" href="https://www.starquiz.io/">Starquiz</a></h3>
      <h4>VueJS, Bulma</h4>
      <p>Front end development of a quiz game app.</p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img alt="mhcomm website" class="w-100" src="/assets/img/projects/mhcomm.jpg" />
    <div class="pt-1 pb-2 txt-center">
      <h3> <a target="_blank" rel="noopener" href="https://www.mhcomm.fr/">MHComm</a></h3>
      <h4> AngularJS, Ionic, Django, Bootstrap</h4>
      <p>Development of web and mobile medical applications for hospitals.</p>
    </div>
  </ng-template>
</swiper>